body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, serif;
    background: crimson;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    background: rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 8px 20px black;
    width: 300px;
}

h1 {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 80%;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    text-align: center;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background:brown;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}


.result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}